doctype transitional
html

  head

    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject

  body

    h1 Song Request

    if message

      p= message.music1
      p= message.music2
      p= message.music3
      p Submitted by #{message.musicName}

    else

      p No message?
