doctype transitional
html

  head

    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject

  body

    h1 Song Request

    if message

      p= message.track1
      p= message.track2
      p= message.track3

    else

      p No message?
