extends layout

block title
  title Fish and Chips

block content

  #main

    //- Intro
    //-
    //-------------------------------------------------------------------------

    section#intro(
      data-smooth-scrolling="on",
      data-top        = "background-position:0 0em",
      data-top-bottom = "background-position:0 2em"
      )
      h1(
        data-top = "opacity:1",
        data-600 = "opacity:0"
        ) Fiona &amp; Craig are getting married!

    //- Navigation
    //-
    //-------------------------------------------------------------------------

    nav#navigation(
      data-0             = "position:static",
      data-top-top       = "position:fixed;top:0;width:100%;",
      data-edge-strategy = "set"
      )
      ul
        li
          a(href="#details") Details
        li
          a(href="#agenda") Agenda
        li
          a(href="#rsvp") RSVP
        li
          a(href="#telegram") Send a telegram
        li
          a(href="#music") Suggest some music
        li
          a(href="#registry") Registry


    //- Details
    //-
    //-------------------------------------------------------------------------

    section#details

      h2 Details

      dl

        dt When
        dd 7th February 2015, 1:30pm

        dt Where
        dd Waihi Waterlily Gardens, Bay Of Plenty, New Zealand

      #contact
        a(href='mailto:wedding@fionaandcraig.com') wedding@fionaandcraig.com

      #map

    //- Agenda
    //-
    //-------------------------------------------------------------------------

    section#agenda

      h2 Agenda

      h3 Thursday, 5th February

      ul.list-agenda
        li
          span.time 7pm
          span.event TBD

      h3 Friday, 6th February

      ul.list-agenda
        li
          span.time 1.30 pm
          span.event Bus arrives at the venue
        li
          span.time 2 pm
          span.event Wedding ceremony
        li
          span.time 2.20 pm
          span.event Bubbles &amp; mingling
        li
          span.time 2.40 pm
          span.event Group photos
        li
          span.time 3 pm
          span.event Bridal party photos &amp; lawn games start

      h3 Saturday, 7th February

      ul.list-agenda
        li
          span.time 12 Midday
          span.event TBD

    //-RSVP
    //-------------------------------------------------------------------------

    section#rsvp

      h2 R.S.V.P.

      if rsvpErrorEmail

        p It looks like something went wrong and your message was not sent. This is probably Craig's fault. Can you pleasse try sending it again?

      if rsvpErrorEmpty

        p It looks like you didn't send a message, would you mind trying again?

      if rsvped

        p Thanks for RSVPing! An email has been sent to <a href="mailto:wedding@fionaandcraig.com">wedding@fionaandcraig.com<a/> with your message.
        button.btn.btn-retry I want to try again.

      else

        p You can RSVP by filling in the form below or emailling us at <a href="mailto:wedding@fionaandcraig.com">wedding@fionaandcraig.com<a/>.
        p It will help us plan correctly if you can tell us

        ul
          li what kind of food is out of bounds
          li if anyone on your invitation is not coming
          li who you are (the form doesn't know!)
          li if you need a place on the bus to the venue (if so, please let us know where you are staying)
          li your email address

        form.form#form-rsvp(action="/rsvp", method="post")

          ul
            li
              textarea#rsvp-message(name="rsvpMessage", maxlength="800", rows="8", required)= rsvpMessage

            li
              input#rsvp-submit.input-submit(type="submit", value="RSVP")
          img.spinner.hide(src="#", width="32", height="32", alt="Loading...")

    //- Telegram
    //-
    //-------------------------------------------------------------------------

    section#telegram

      h2 Telegram

      if telegramErrorEmpty
        p It looks like you sent a telegram with nothing in it. Have another go.

      if telegramErrorEmail
        p Something went wrong and the telegram didn't send. Try again. If it still doesn't work, blame Craig.

      if telegramSent

        p Thank you for sending a telegram!
        button.btn.btn-retry(type="button") Send another?

      else

        p If you cannot make the wedding date and want to send a message instead you can either email us at 
          a(href="mailto:wedding@fionaandcraig.com") wedding@fionaandcraig.com 
          | - or fill out the text box below.

        form.form#form-telegram(action="/telegram", method="post")
          ul
            li
              textarea#telegram-message(name="telegramMessage", maxlength="1800", rows="8", required)= telegramMessage

            li
              input#telegram-submit.input-submit(type="submit", value="Send")
          img.spinner.hide(src="#", width="32", height="32", alt="Loading...")


    //- Music
    //-
    //-------------------------------------------------------------------------

    section#music

      h2 Music

      if musicErrorEmpty
        p It looks like nothing was sent, please try again.

      if musicErrorEmail
        p Something went wrong and your selection was not sent, would you mind trying again?

      if musicSent

        p Thanks for sending us some music suggestions!

      else

        p Feel free to suggest some songs for the night.
        p Please let us know the name of the song as well as the artist.

        form.form#form-music(action="/music", method="post")
          ul
            li
              input.input-text#music-1(
                type        = "text",
                name        = "music-1",
                placeholder = "Song 1 - artist 1"
                value       = "#{music.track1}",
                maxlength   = "240"
                )
            li
              input.input-text#music-2(
                type        = "text",
                name        = "music-2",
                placeholder = "Song 2 - artist 2"
                value       = "#{music.track2}",
                maxlength   = "240"
                )
            li
              input.input-text#music-3(
                type        = "text",
                name        = "music-3",
                placeholder = "Song 3 - artist 3"
                value       = "#{music.track3}",
                maxlength   = "240"
                )
            li
              input#music-submit.input-submit(type="submit", value="Send")
          img.spinner.hide(src="#", width="32", height="32", alt="Loading...")

    //- Registry
    //-
    //-------------------------------------------------------------------------

    section#registry

      h2. Registry

      p The wishlist is provided by Prezola.com - you can view it 
        a(href="https://www.prezola.com/wishlists/10138660") here.

    //- KAIZEN
